body,h1,h2,h3,h4,h5,h6,p,div,ul,dl,ol,li,dt,dd{
    margin:  0;
    padding:  0;
    font-size: 12px;
    font-family: ו;
    list-style: none;
    color: #684029;
}
a{
    text-decoration: none;
    color:#684029;
}
a:hover{
    color: #2a99fa;
    cursor: pointer;
}
input,img{
    margin:  0;
    padding:  0;
    border:  0 none;
    outline-style: none;
}
.w {
    width: 1102px;
    margin:  0 auto;
}
.w2 {
    width: 880px;
    margin:  0 auto;
}
.clearfix:after {
    content: "";
    height: 0;
    line-height: 0;
    clear: both;
    display: block;
    visibility: hidden;
}
.clearfix {
    zoom: 1;
}
s,i {
    font-style: normal;
    text-decoration: none;
}
